= render 'layouts/header'
.contents-wrap
  - unless current_user?(@user)
    #follow_form
      - if current_user.following?(@user)
        = render 'relationships/unfollow', user: @user
      - else
        = render 'relationships/follow', user: @user
  .profile
    .profile__contents
      .profile__contents__left
        .profile__contents__left__pic
          - if @user.image.url.present?
            = image_tag @user.image.url(:thumb), class: "userprof-pic"
      .profile__contents__right
        .profile__contents__right__content
          = "Name        : #{@user.name}"
        .profile__contents__right__content
          = "Diver Lank  : #{@user.diver_lank}"
        .profile__contents__right__content
          = "Dive Number : #{@user.dive_number}本"
        .profile__contents__right__content
          = @user.text
    .userinfo
      .userinfo__post-num
        %p 投稿数
        %p.userinfo__number
          = @user.posts.count
      .userinfo__follow-num
        %p フォロー数
        %p.userinfo__number
          = link_to @user.followings.count, "#"
          -# = link_to @user.followings.count, following_user_path(@user)
      .userinfo__follower-num
        %p フォロワー数
        %p#userinfo__number
          = link_to @user.followers.count, "#"
          -# = link_to @user.followers.count, followers_user_path(@user)
    .posts-wrap
      - @posts.each do |post|
        .posts-wrap__lists
          = link_to post_path(post.id) do
            .post
              .post__title
                = post.title
              .post__image
                = image_tag "#{post.images.first.src.url}"

.footer