= render 'layouts/header'
.contents-title
  = "#{@user.name}のマイページ"
.mypage-items
  プロフィール編集
-#   = link_to "プロフィール編集", new_session_path
.profile
  .profile__left
    .profile__left__pic
      = image_tag @user.image.url
  .profile__right
    .profile__right__content
      = "Diver Lank : #{@user.diver_lank}"
    .profile__right__content
      = "Dive Number : #{@user.dive_number}本"
    .profile__right__content
      %p 自己紹介
      = @user.text


.contents-wrap
  .posts-wrap
    - @posts.each do |post|
      .posts-wrap__lists
        .post
          .post__title
            = link_to post.title, post_path(post.id)
          .post__image
            = image_tag post.image.to_s
            
= paginate(@posts)

.footer