.form__field
  = form.label :タイトル
  %span.field-label__require 必須
  %br
  = form.text_field :title, placeholder: '例)感動！石垣島で初マンタ', class: 'form__field__title'
.form__field
  = form.label :投稿内容
  %span.field-label__require 必須
  %br
  = form.text_area :text, class: 'form__field__text'
.form__field
  = form.label :写真
  %span.field-label__require 必須
  %br
  .field-input
    = form.file_field :image, id:'post_image', style: "display:none;"
  .preview-field
    #preview{:onclick => "$('#post_image').click()", :style => "max-width:300px;"}
      - if @post.image.url.present?
        = image_tag @post.image.url
      - else
.form__field
  = form.label :タグ（カンマで区切る）
  %span.field-label__hoge 任意
  %br
  = form.text_field :tag_list, value: @post.tag_list.join(','), placeholder: '例)沖縄,石垣島', class: 'form__field__tag'
= form.submit '投稿する', class: 'form__field__btn'

:javascript
  $(function(){
    $fileField = $('#post_image')
  
    // 選択された画像を取得し表示
    $($fileField).on('change', $fileField, function(e) {
      file = e.target.files[0]
      reader = new FileReader(),
      $preview = $("#preview");
  
      reader.onload = (function(file) {
        return function(e) {
          $preview.empty();
          $preview.append($('<img>').attr({
            src: e.target.result,
            width: "100%",
            class: "preview",
            title: file.name
          }));
        };
      })(file);
      reader.readAsDataURL(file);
    });
  });