.form__field.form__field--first
  = form.label :タイトル
  %span.field-label__require 必須
  %br
  = form.text_field :title, placeholder: '例)感動！石垣島で初マンタ', class: 'form__field__title'
.form__field
  = form.label :投稿内容
  %span.field-label__require 必須
  %br
  = form.text_area :text, class: 'form__field__text'
.form__field
  = form.label :写真
  %span.field-label__require 必須
  %br
  %p.item_input__body__text 最大8枚までアップロードできます
  .field-input
    .up-image
      = form.fields_for :images do |image|
        .up-image__group
          .previews
          %label.item_imgs
            = icon('fas', 'camera')
            .image_text_message
              %p.item_input__body__image_text
                ファイルをアップロード
            .up-image__group__dropbox{data: {index: 1}}
              = image.file_field :src, class: "item_imgs__default", id: "up_img_last", type: 'file', multiple: true, accept: "image/*"
        .under_group
          .up-image__group_2nd_row
            .previews_2nd_row
            %label.item_imgs_2nd_row
              = icon('fas', 'camera')
.form__field
  = form.label :タグ（カンマで区切る）
  %span.field-label__hoge 任意
  %br
  = form.text_field :tag_list, value: @post.tag_list.join(','), placeholder: '例)沖縄,石垣島', class: 'form__field__tag'
= form.submit '投稿する', class: 'form__field__btn'