.posts-wrap__lists
  .post
    = link_to post_path(post.id) do
      .post__title
        = post.title
      .post__image
        = image_tag "#{post.images.first.src.url}"
      .post__username
        %p 投稿者：
        = post.user.name
      .favorite-num
        %i.fa.fa-star
          = post.liked_users.count
