.posts-wrap__lists
  .post
    = link_to post_path(post.id) do
      .post__title
        = post.title
      .post__image
        = image_tag "#{post.images.first.src.url}"
      .post__username
        - if post.user.image.url present?
          = image_tag post.user.image.url(:thumb)
        .post__username__text
          = post.user.name
      .favorite-num
        %i.fa.fa-star
          = post.liked_users.count
