= render 'layouts/header'
.title-wrap
  %p.main-title
    Blue Ocean
.contents-wrap
  .contents-title--post
    投稿一覧
  .posts-wrap
    - @posts.each do |post|
      = render partial: "post", locals: { post: post }
    .paginate
      = paginate(@posts)

  .contents-title--user
    ユーザー一覧
  .users-wrap
    - @users.each do |user|
      = render partial: "user", locals: { user: user }
    .paginate
      = paginate(@users)
  .contents-title--tag
    ハッシュタグ一覧
  .tags-wrap
    - @tags.each do |tag|
      = link_to "##{tag.name}", "#", class: "tag-name"
      -# = link_to "##{tag.name}", tag_path(tag.id), class: "tag-name"
.footer