= render 'layouts/header'

-if user_signed_in?
  .main-menu
    %ul.contents-menu
      %li
        = link_to "投稿", new_post_path, class: "menu-text"
      %li
        = link_to "マイページ", user_path(current_user), class: "menu-text"
      %li
        = link_to "プロフィール編集", edit_user_path(current_user), class: "menu-text"
      %li
        =link_to "ログアウト", destroy_user_session_path, method: :delete, class: "menu-text"
.title-wrap
  %p.main-title
    Blue Ocean
.contents-wrap
  .contents-title
    みんなの写真
  .posts-wrap
    - @posts.each do |post|
      = render partial: "post", locals: { post: post }

= paginate(@posts)

.footer