= render 'layouts/header'
.post-contents
  .post-contents__title
    = @post.title
    - if user_signed_in? && current_user.id == @post.user_id
      .post-contents__manage
        %ul.post-contents__manage__icon
          = icon('fa', 'edit')
          %li.post-contents__manage__icon__menu
            = link_to "編集", edit_post_path(@post.id)
          %li.post-contents__manage__icon__menu
            = link_to "削除", post_path(@post.id), method: :delete
  .post-contents__username
    = link_to @post.user.name, user_path(@post.user.id)
  
  .post-contents__date
    = @post.date
  .post-contents__text
    = simple_format @post.text

  .post-contents__image
    .post-contents__image--main
      = image_tag @post.images.first.src.url, class: "image-main"
    %ul.post-contents__image--sub
      %li.images
        - @post.images.each_with_index do |image, i|
          .images__iteming
            = image_tag image.src.url, class: "image-sub"


  .post-contents__tags
    - @post.tag_list.each do |tag|
      = link_to "##{tag}",tag_path(tag), class: "tag-name"
  
  .like-wrap
    %div{:id => "likes_buttons_#{@post.id}"}
      = render partial: 'likes/like', locals: { post: @post}

  .comments-wrap
    .comment-form
      -if current_user
        = form_with(model: [@post, @comment], local: true, id: "new_comment") do |form|
          = form.text_area :text, placeholder: "コメントする", class: 'comment-form__text', rows: "5"
          = form.submit "SEND", class: 'comment__btn'
      - else
        %p ※※※ コメントの投稿には新規登録/ログインが必要です ※※※
    .comments
      %h4 ＜コメント一覧＞
      - if @comments
        -@comments.each do |comment|
          %p
            %strong
              = link_to comment.user.name, "/users/#{comment.user_id}", class: 'comment-user-name'
              ：
            = comment.text
.footer

:javascript
  $(function(){
    $('.post-contents__manage__icon').hover(function(){
        $(".post-contents__manage__icon__menu", this).slideDown();
    }, function(){
        $(".post-contents__manage__icon__menu",this).slideUp();
    });

    $('.image-sub').click(function () { // 小画像がクリックされたらイベント発火
      image_url = $(this).attr("src"); // クリックされた画像のPATHを取得
      $(".image-main").attr("src", image_url).hide().fadeIn(); // メイン画像をクリックされた画像に変更
    });
  });


