= render 'layouts/header'
.post-contents
  .post-contents__title
    = @post.title
  .post-contents__username
    = link_to "投稿者：#{@post.user.name}", user_path(@post.user.id)
  - if user_signed_in? && current_user.id == @post.user_id
    .post-contents__manage
      = link_to "編集", edit_post_path(@post.id), class: "post-contents__manage__edit"
      = link_to "削除", post_path(@post.id), method: :delete, class: "post-contents__manage__delete"
  .post-contents__text
    = simple_format @post.text
  .post-contents__image
    = image_tag @post.image.url if @post.image?
  .post-contents__tags
    - @post.tag_list.each do |tag|
      = link_to tag,tag_path(tag), class: "tag-name"
  
  .like-wrap
    %div{:id => "likes_buttons_#{@post.id}"}
      = render partial: 'likes/like', locals: { post: @post}

  .comments-wrap
    .comment-form
      -if current_user
        = form_with(model: [@post, @comment], local: true, id: "new_comment") do |form|
          = form.text_area :text, placeholder: "コメントする", class: 'comment-form__text', rows: "5"
          = form.submit "SEND", class: 'comment__btn'
      - else
        %p ※※※ コメントの投稿には新規登録/ログインが必要です ※※※
    .comments
      %h4 ＜コメント一覧＞
      - if @comments
        -@comments.each do |comment|
          %p
            %strong
              = link_to comment.user.name, "/users/#{comment.user_id}", class: 'comment-user-name'
              ：
            = comment.text
.footer
