.footer
  .footer__contents
    .footer__contents__left
      .footer__contents__left__text
        %p sns account
      %ul.footer__contents__left__icon
        %li
          = icon('fab', 'twitter', class: "icon-sns")
        %li
          = icon('fab', 'facebook', class: "icon-sns")
        %li
          = icon('fab', 'instagram', class: "icon-sns")
        %li
          = icon('fab', 'youtube', class: "icon-sns")
    .footer__contents__right
      .footer__contents__right__text
        %p contact
      .footer__contents__right__icon
        = icon('fas', 'envelope', class: "icon-sns")
        abcd@xyz.com
