.header
  .header__title
    = link_to "Blue Ocean", root_path, class: "header__title--text"
  .header__center
    = form_with(url: search_posts_path, local: true, method: :get, class: "search-form") do |form|
      = form.text_field :keyword, class: "search-input", placeholder: "キーワード検索"
      = form.submit"検索", class: "search-btn" do
        = icon('fas', 'search', class: "icon-search")


  .header__right
    -if user_signed_in?
      %ul.contents-menu
        %li.mainmenu
          -# %p
          -#   = icon('fa', 'bars')
          = link_to "投稿", new_post_path, class: "menu-text"
        %li
          = link_to "マイページ", user_path(current_user), class: "menu-text"
        %li
          =link_to "ログアウト", destroy_user_session_path, method: :delete, class: "menu-text"
    -else
      %ul.contents-menu
        %li
          = link_to "新規登録", new_user_registration_path, class: "header__right--btn"
        %li
          = link_to "ログイン", new_user_session_path, class: "header__right--btn"