.recommend-wrap
  %h2.recommend-wrap__title
    Pickup Category
  .recommend-wrap__contents
    .recommend-wrap__contents__row
      %a.content{:href => "/rankings"}
        .content__pic
          = image_tag 'pict/pickup_category_1.JPG', :size =>'234x148'
        .content__text
          いいね！
          %br
          ランキング
          %br
          = icon('fas', 'heart', class: "icon-sns")

      %a.content{:href => "#"}
        .content__pic
          = image_tag 'pict/pickup_category_2.JPG', :size =>'234x148'
        .content__text
          カテゴリー
          %br
          検索
          %br
          = icon('fas', 'search', class: "icon-sns")
    .recommend-wrap__contents__row
      %a.content{:href => "/rankings"}
        .content__pic
          = image_tag 'pict/pickup_category_3.JPG', :size =>'234x148'
        .content__text
          投稿数
          %br
          ランキング
          
          %br= icon('fas', 'pen', class: "icon-sns")
      %a.content{:href => "#"}
        .content__pic
          = image_tag 'pict/pickup_category_4.JPG', :size =>'234x148'
        .content__text
          人気の
          %br
          タグ
          %br
          = icon('fas', 'hashtag', class: "icon-sns")
